<!-- views/navbar.ejs -->
<nav>
    <!-- Other navigation items -->
    <div class="user">
      <a href="/profile">
        <img src="/images/user.png" alt="User Icon" class="user-img">
      </a>
    </div>
  </nav>
  
  