<!DOCTYPE html>
<html>
<head>
  <title><%= question.title %></title>
</head>
<body>
  <h1><%= question.title %></h1>
  <p>Asked by: <%= question.user.username %></p>
  <p><%= question.description %></p>
  <!-- Add more details as needed -->
  <a href="/">Back to all questions</a>
</body>
</html>